$background-color_1: #4a5568;

header {
	.onhover-category-list {
		&:hover {
			.onhover-category-box {
				opacity: 1;
				visibility: visible;
				margin-left: 0;
			}
		}
		.onhover-category-box {
			position: absolute;
			top: 0;
			left: 100%;
			background: #fff;
			-webkit-box-shadow: 0 0 8px #ddd;
			box-shadow: 0 0 8px #ddd;
			padding: 20px 25px;
			border-radius: 5px;
			width: 520px;
			height: 100%;
			overflow: auto;
			display: grid;
			grid-template-columns: auto auto;
			opacity: 0;
			visibility: hidden;
			margin-left: 14px;
			-webkit-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
			.category-title-box {
				margin-bottom: calc(8px + (20 - 8) * ((100vw - 320px) / (1920 - 320)));
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				h5 {
					font-weight: 600;
				}
			}
			ul {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				gap: calc(4px + (11 - 4) * ((100vw - 320px) / (1920 - 320)));
				li {
					position: relative;
					&::after {
						content: "";
						position: absolute;
						top: 50%;
						-webkit-transform: translateY(-50%);
						transform: translateY(-50%);
						left: 0;
						width: 5px;
						height: 5px;
						background-color: $background-color_1;
						border-radius: 100%;
					}
					a {
						margin-left: 13px;
					}
				}
			}
		}
	}
}
[dir="rtl"] {
	header {
		.onhover-category-list {
			&:hover {
				.onhover-category-box {
					margin-left: unset;
					margin-right: 0;
				}
			}
			.onhover-category-box {
				margin-left: unset;
				margin-right: 14px;
			}
		}
	}
}
@media (max-width: 767px) {
	header {
		.onhover-category-list {
			.list-1 {
				margin-bottom: 21px;
			}
			.onhover-category-box {
				position: relative;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				-webkit-box-shadow: none;
				box-shadow: none;
				padding: 12px 11px;
				margin-top: 7px;
				opacity: 1;
				visibility: visible;
				margin-left: 0;
			}
		}
	}
}
@media (max-width: 991px) {
	header {
		.onhover-category-list {
			.onhover-category-box {
				grid-template-columns: auto;
				display: block;
				width: 100%;
				.list-2 {
					margin-top: 15px;
				}
			}
		}
	}
}