$color_1: #222;
$color_2: #fff;

.btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: $color_1;
	padding: calc(7px + (14 - 7) * ((100vw - 320px) / (1920 - 320))) calc(14px + (32 - 14) * ((100vw - 320px) / (1920 - 320)));
	font-weight: 500;
	background: transparent;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	position: relative;
	border: none;
	font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
	z-index: 0;
	white-space: nowrap;
	&:focus {
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	&:hover {
		.icon {
			-webkit-transform: translateX(3px);
			transform: translateX(3px);
		}
	}
	.icon {
		margin-left: calc(6px + (12 - 6) * ((100vw - 320px) / (1920 - 320)));
		-webkit-transition: 0.3s ease;
		transition: 0.3s ease;
	}
	.icon-2 {
		margin-left: 6px;
		-webkit-transition: 0.3s ease;
		transition: 0.3s ease;
	}
}
.btn.dark-button {
	background: linear-gradient( 93.33deg, #222221 12.35%, #2f2f2d 99.38% ) !important;
}
[dir="rtl"] {
	.btn {
		.icon {
			margin-left: unset;
			margin-right: calc(6px + (12 - 6) * ((100vw - 320px) / (1920 - 320)));
		}
		.icon-2 {
			margin-left: unset;
			margin-right: 6px;
		}
	}
}
.btn-animation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	overflow: hidden;
	color: $color_2;
	border-radius: 5px;
	font-weight: 600;
	background: transparent;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	position: relative;
	background: #001226;
	background: -webkit-gradient( linear, left top, right top, from(#001226), to(#001226) );
	background: linear-gradient(90deg, #001226 0%, #001226 100%);
	border: none;
	z-index: 0;
	i {
		-webkit-transition: 0.3s ease;
		transition: 0.3s ease;
	}
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		border-radius: 5px;
		background: #001226;
		background: -webkit-gradient( linear, left top, right top, from(#001226), to(#001226) );
		background: linear-gradient(90deg, #001226 0%, #001226 100%);
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	&:hover {
		color: $color_2;
		i {
			-webkit-transform: translateX(3px);
			transform: translateX(3px);
		}
		&::after {
			top: 0;
			height: 100%;
		}
	}
}
.btn-animation-2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	overflow: hidden;
	color: $color_2;
	border-radius: 5px;
	font-weight: 600;
	background: transparent;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	position: relative;
	background: #3B93F3;
	background: -webkit-gradient( linear, left top, right top, from(#3B93F3), to(#3B93F3) );
	background: linear-gradient(90deg, #3B93F3 0%, #3B93F3 100%);
	border: none;
	z-index: 0;
	i {
		-webkit-transition: 0.3s ease;
		transition: 0.3s ease;
	}
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		border-radius: 5px;
		background: #3B93F3;
		background: -webkit-gradient( linear, left top, right top, from(#3B93F3), to(#3B93F3) );
		background: linear-gradient(90deg, #3B93F3 0%, #3B93F3 100%);
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	&:hover {
		color: $color_2;
		i {
			-webkit-transform: translateX(3px);
			transform: translateX(3px);
		}
		&::after {
			top: 0;
			height: 100%;
		}
	}
}
.btn-md {
	padding: calc(8px + (11 - 8) * ((100vw - 320px) / (1920 - 320))) calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
	font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
	font-weight: 500;
}
.btn-sm {
	padding: 8px 16px;
	font-size: 14px;
	font-weight: 500;
}
.btn-2 {
	padding: 9px 25px;
	font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
	font-weight: 400;
	&:hover {
		&::after {
			top: 0;
			height: 100%;
		}
	}
}
.btn-2-animation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	overflow: hidden;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	position: relative;
	background: #0da487;
	background: -webkit-gradient( linear, left top, right top, from(#0da487), to(#0e947a) );
	background: linear-gradient(90deg, #0da487 0%, #0e947a 100%);
	border: none;
	z-index: 0;
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		border-radius: 5px;
		background: #0da487;
		background: -webkit-gradient( linear, left top, right top, from(#0e947a), to(#0da487) );
		background: linear-gradient(90deg, #0e947a 0%, #0da487 100%);
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
}
.btn-category {
	padding: calc(6px + (8 - 6) * ((100vw - 320px) / (1920 - 320))) calc(16px + (27 - 16) * ((100vw - 320px) / (1920 - 320)));
	letter-spacing: 0.8px;
	font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
	font-weight: 700;
	border-radius: 50px;
}