$color_1: #222;
$color_2: #fff;
$color_3: var(--theme-color);
$font-family_1: "Public Sans", sans-serif;
$background-color_1: #fff;
$background-color_2: var(--theme-color);
$border-color_1: var(--theme-color);

body {
	font-family: $font-family_1;
	position: relative;
	font-size: 14px;
	color: $color_1;
	margin: 0;
	background-color: $background-color_1;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	padding-right: 0 !important;
	&::-moz-selection {
		color: $color_2;
		background-color: $background-color_2;
	}
	&::selection {
		color: $color_2;
		background-color: $background-color_2;
	}
}
ul {
	padding-left: 0;
	margin-bottom: 0;
}
li {
	display: inline-block;
	font-size: 14px;
}
p {
	font-size: 14px;
	line-height: 18px;
}
a {
	color: $color_3;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		-webkit-transition: 0.5s ease;
		transition: 0.5s ease;
	}
	&:focus {
		outline: none;
	}
}
button {
	&:focus {
		outline: none;
	}
}
.btn-close {
	&:focus {
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}
.form-control {
	background-color: rgba(255, 255, 255, 0.20);
	border-color: rgba(255, 255, 255, 0.20);
	width: 240px;
	&:focus {
		-webkit-box-shadow: none;
		box-shadow: none;
		border-color: rgba(255, 255, 255, 0.20);
		border-radius: 16px;
	}
}
h1 {
	font-size: calc(40px + (70 - 40) * ((100vw - 320px) / (1920 - 320)));
	font-weight: 600;
	line-height: 1.1;
	text-transform: capitalize;
	margin: 0;
}
h2 {
	font-size: calc(22px + (28 - 22) * ((100vw - 320px) / (1920 - 320)));
	font-weight: 600;
	line-height: 1;
	text-transform: capitalize;
	margin: 0;
}
h3 {
	font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
	font-weight: 500;
	line-height: 1.2;
	margin: 0;
}
h4 {
	font-size: calc(17px + (18 - 17) * ((100vw - 320px) / (1920 - 320)));
	line-height: 1.2;
	margin: 0;
	font-weight: 400;
}
h5 {
	font-size: calc(15px + (16 - 15) * ((100vw - 320px) / (1920 - 320)));
	line-height: 1.2;
	margin: 0;
	font-weight: 400;
}
h6 {
	font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (1920 - 320)));
	line-height: 1.2;
	margin: 0;
	font-weight: 400;
}
span {
	display: inline-block;
}
.theme-color {
	color: $color_3 !important;
}
.theme-bg-color {
	background: var(--theme-color) !important;
}