$color_1: var(--theme-color);
$color_2: #262834;
$color_3: #4a5568;
$color_4: #ff4f4f;
$color_5: #222;
$color_6: #fff;
$background-color_1: rgba(255, 255, 255, 0.529);
$background-color_2: #222;
$background-color_3: var(--theme-color);
$border-color_1: var(--theme-color);
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap');

.bg-effect {
	background-image: url("../images/bg-body.png");
	background-repeat: no-repeat;
	background-position: center;
}
.home-section{
	width: 100%;
}

.home-contain {
	overflow: hidden;
	position: relative;
	z-index: 99;
	.image-container{
		background: url('../../images/bg-body.png');
		img{
			height: 600px; 
			width: 100%; 
			position: relative;
		}
	}
	.home-detail {
		.slider-text{
			color: #151515;
			font-family: 'Exo 2', sans-serif;
			font-size: 70px;
			font-style: normal;
			font-weight: 700;
			line-height: 80px;
			.slider-buttons{
				display: flex;
				
			}
		}

		svg{
			width: 91.5px;
			height: 54px;
			flex-shrink: 0;
			stroke-width: 1px;
			stroke: #151515;
			position: relative;
			left: -290px;
			top: 104px;
		}

		.slider-product-description{
			display: inline-flex;
			padding: 16px;
			justify-content: center;
			align-items: center;
			gap: 10px;
			border-radius: 6px;
			background: #CEE6FF;
			position: relative;
			top: 125px;
			left: 145px;
			span{
				width: 182px;
				color: #151515;
				font-family: Exo 2;
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: 24px;
			}
		}
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		padding: calc(18px + (60 - 18) * ((100vw - 320px) / (1920 - 320)));
		>.home-top {
			margin-top: -100px;
		}
		.ls-expanded {
			letter-spacing: 2.2px;
		}
		h1 {
			font-size: calc(16px + (42 - 16) * ((100vw - 320px) / (1920 - 320)));
			width: 80%;
			line-height: 1.4;
			margin-bottom: calc(3px + (10 - 3) * ((100vw - 320px) / (1920 - 320)));
			span.name {
				font-weight: 800;
				color: $color_1;
				position: relative;
				z-index: 0;
				&::before {
					content: "";
					position: absolute;
					width: 100%;
					height: 20px;
					bottom: 10px;
					left: 0;
					background-color: $background-color_3;
					opacity: 0.4;
					z-index: -1;
				}
			}
			span.name-2 {
				font-weight: 800;
				color: $color_1;
			}
			.daily {
				color: $color_1;
				font-weight: 800;
			}
			.discount {
				font-size: 16px;
				color: $color_2;
				font-weight: 400;
			}
		}
		h1.super-sale {
			font-size: 45px;
		}
		h1.name-title {
			font-size: calc(25px + (42 - 25) * ((100vw - 320px) / (1920 - 320)));
		}
		h1.home-name {
			font-size: 86px;
			font-weight: 700;
			position: relative;
			display: inline-block;
			&::before {
				content: "";
				position: absolute;
				left: 50%;
				-webkit-transform: translateX(-50%);
				transform: translateX(-50%);
				width: 80%;
				height: 2px;
				bottom: 0;
				background-color: $background-color_2;
			}
		}
		h1.poster-1 {
			line-height: calc(23px + (68 - 23) * ((100vw - 320px) / (1920 - 320)));
		}
		h1.poster-2 {
			line-height: calc(29px + (63 - 29) * ((100vw - 320px) / (1920 - 320)));
		}
		h2 {
			font-size: calc(25px + (38 - 25) * ((100vw - 320px) / (1920 - 320)));
			margin-bottom: 7px;
			span.discount {
				font-size: 16px;
				font-weight: 400;
			}
		}
		h2.home-name {
			font-size: calc(52px + (85 - 52) * ((100vw - 320px) / (1920 - 320)));
			font-weight: 700;
		}
		h3 {
			font-size: calc(20px + (26 - 20) * ((100vw - 320px) / (1920 - 320)));
			margin-bottom: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320)));
			font-weight: 600;
		}
		h4 {
			font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
			margin-bottom: 5px;
		}
		h5 {
			font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
			letter-spacing: 1px;
		}
		h6 {
			font-size: 14px;
			letter-spacing: 0.1px;
			color: $color_3;
			span {
				font-weight: 500;
				padding: calc(6px + (10 - 6) * ((100vw - 320px) / (1920 - 320))) calc(8px + (16 - 8) * ((100vw - 320px) / (1920 - 320)));
				background: #000;
				background: -webkit-gradient( linear, left top, right top, from(rgba(255, 114, 114, 0.15)), color-stop(79%, rgba(255, 114, 114, 0)) );
				background: linear-gradient( 90deg, rgba(255, 114, 114, 0.15) 0%, rgba(255, 114, 114, 0) 79% );
				border-radius: 50px;
				color: $color_4;
				margin-left: calc(2px + (9 - 2) * ((100vw - 320px) / (1920 - 320)));
			}
		}
		h6.home-home {
			margin-bottom: 10px;
			font-weight: 500;
		}
		p {
			margin-bottom: 0;
			color: $color_3;
			letter-spacing: 0.8px;
			line-height: calc(19px + (27 - 19) * ((100vw - 320px) / (1920 - 320)));
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			display: -webkit-box;
			overflow: hidden;
		}
		p.organic {
			width: 70%;
		}
		.shop-button {
			font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
			margin-top: calc(12px + (20 - 12) * ((100vw - 320px) / (1920 - 320)));
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			color: $color_5;
			&:hover {
				i {
					-webkit-transform: translateX(4px);
					transform: translateX(4px);
				}
			}
			i {
				-webkit-transition: 0.3s ease;
				transition: 0.3s ease;
				margin-left: 8px;
			}
		}
		.social-icon {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			margin-top: 10px;
			-ms-flex-wrap: nowrap;
			flex-wrap: nowrap;
			gap: 14px;
			li {
				&:hover {
					a {
						border-color: $border-color_1;
						background-color: $background-color_3;
						color: $color_6;
					}
				}
				a {
					width: 28px;
					height: 28px;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					-webkit-box-pack: center;
					-ms-flex-pack: center;
					justify-content: center;
					border-radius: 100%;
					border: 1px solid #4a5568;
					color: $color_5;
				}
			}
		}
	}
	.home-detail.home-big-space {
		padding: calc(27px + (185 - 27) * ((100vw - 320px) / (1920 - 320))) 0 !important;
	}
	.home-detail.home-p-sm {
		padding: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320))) !important;
	}
	.home-detail.home-p-medium {
		padding: 50px calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320))) !important;
	}
	.slider-image{
		img{
			width: 450px;
		}
	}
	.slider-price{
		display: flex;
		width: 120px;
		height: 120px;
		padding: 10.953px;
		justify-content: center;
		align-items: center;
		gap: 10.953px;
		flex-shrink: 0;
		border-radius: 109.533px;
		background: #3B93F3;
		box-shadow: 0px 8.76262px 43.81309px 0px rgba(0, 0, 0, 0.10);
		margin-left: -135px;
		margin-top: 70px;
		span{
			color: #FFF;
			font-family: Poppins;
			font-size: 30px;
			font-style: normal;
			font-weight: 700;
			line-height: 45px;
		}
	}
}
[dir="rtl"] {
	.home-contain {
		.home-detail {
			h1 {
				margin-right: auto;
				text-align: left;
			}
			h2 {
				text-align: left;
			}
			h3 {
				text-align: left;
			}
			h4 {
				text-align: left;
			}
			h5 {
				text-align: left;
			}
			h6 {
				text-align: left;
				span {
					margin-left: unset;
					margin-right: calc(2px + (9 - 2) * ((100vw - 320px) / (1920 - 320)));
				}
			}
			p {
				margin-right: auto;
				text-align: left;
			}
			.shop-button {
				-webkit-box-pack: end;
				-ms-flex-pack: end;
				justify-content: flex-end;
				i {
					margin-left: unset;
					margin-right: 8px;
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.home-contain {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		.home-detail.home-overlay {
			background-color: $background-color_1;
		}
		.home-detail {
			.slider-text{
				position: relative;
				top: 290px !important;
				z-index: 999;
				left: -80px;
				h1{
					align-self: stretch;
					color: #151515;
					font-family: 'Exo 2';
					font-size: 32px;
					font-style: normal;
					font-weight: 700;
					line-height: 40px;
					width: 330px;
				}
				.slider-buttons{
					position: absolute !important;
					left: 125px !important;
					top: -50px;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: center;
					button{
						width: 255px !important;
					}
					button:nth-child(1){
						width: 70%;
						left: -25px !important;
					}
					button:nth-child(2){
						position: relative;
						width: 70%;
						left: 50px !important;
						top: -10px !important;
					}
				}
			}
			.product-slider-image{
				position: relative;
				left: 80px;
				top: -40px;
				img{
					width: 350px;
				}
			}
			.slider-price{
				position: relative;
				left: 90px;
				top: -50px;
			}
			.slider-product-description{
				display: inline-flex;
				justify-content: center;
				align-items: center;
				gap: 5.583px;
				position: relative;
				left: 215px;
				padding: 8px;
				top: 50px;
				span{
					color: #151515;
					font-family: 'Exo 2';
      				font-size: 8px;
					font-style: normal;
					font-weight: 500;
					line-height: 13px;
					width: 101.617px;
				}
			}
			svg{
				display: inline;
				margin-right: 50px;
				position: relative;
				left: -120px;
				top: 35px;
				width: 51.088px;
				height: 30.15px;
				flex-shrink: 0;
			}
			h1 {
				span.name {
					&::before {
						display: none;
					}
				}
			}
		}
	}
}
@media (max-width: 575px) {
	.home-contain {
		.home-detail {
			>.home-top {
				margin-top: -80px;
			}
		}
	}
}
@media (max-width: 480px) {
	.home-contain {
		.home-detail {
			>.home-top {
				margin-top: 0;
			}
			h1 {
				width: 100%;
			}
		}
	}
}
@media (max-width: 1399px) {
	.home-contain {
		.home-detail {
			.slider-text{
				position: relative;
				top: 180px;
				left: -80px;
				h1{
					position: relative;
					top: -150px;
					align-self: stretch;
					color: #151515;
					font-family: 'Exo 2';
					font-size: 32px;
					font-style: normal;
					font-weight: 700;
					line-height: 40px;
				}
				.slider-buttons{
					position: relative;
					left: 200px;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 20px;
					button:nth-child(1){
						margin-left: -80px;
					}
					button:nth-child(2){
						position: relative;
						left: 40px;
						top: 4px;
					}
				}
			}
			h1 {
				span.name {
					&::before {
						content: none;
					}
				}
			}
		}
	}
}
@media (max-width: 360px) {
	.home-contain {
		.home-detail {
			h6 {
				margin-bottom: 5px;
				span {
					display: none;
				}
			}
		}
	}
}