.swiper {
  height: 600px;
}

.swiper-pagination{
    margin-right: 105px;
    stroke-width: 5px;
    stroke: #151515;
    width: 20px;
}

.swiper-pagination-bullet {
    background: #151515;
    border: 1px solid #3B93F3 !important;
    width: 12px;
    height: 12px;
}


@media (max-width: 767px) {
    .swiper{
        height: 600px !important;
        .swiper-pagination{
          margin-right: 0;
          margin-top: -80px;
        }
    }
}

@media (max-width: 1399px) {
    .swiper{
        height: 679px;
        .swiper-pagination{
          margin-top: -80px;
        }
    }
}