$color_1: #4a5568;
$background-color_1: #fff;
$border-color_1: var(--theme-color);

.theme-form-floating {
	>.form-control {
		&:not(:-moz-placeholder-shown) {
			~ {
				label {
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
					opacity: 0.95;
					top: -5px;
					left: 5px;
					height: 31px;
					background-color: $background-color_1;
					white-space: nowrap;
					opacity: 1;
				}
			}
			padding-top: 17px;
			padding-bottom: 10px;
			font-size: calc(15px + (17 - 15) * ((100vw - 320px) / (1920 - 320)));
			font-weight: 500;
		}
		&:not(:-ms-input-placeholder) {
			~ {
				label {
					display: -ms-flexbox;
					display: flex;
					-ms-flex-align: center;
					align-items: center;
					-ms-flex-pack: center;
					justify-content: center;
					font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
					opacity: 0.95;
					top: -5px;
					left: 5px;
					height: 31px;
					background-color: $background-color_1;
					white-space: nowrap;
					opacity: 1;
				}
			}
			padding-top: 17px;
			padding-bottom: 10px;
			font-size: calc(15px + (17 - 15) * ((100vw - 320px) / (1920 - 320)));
			font-weight: 500;
		}
		&:focus {
			~ {
				label {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					-webkit-box-pack: center;
					-ms-flex-pack: center;
					justify-content: center;
					font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
					opacity: 0.95;
					top: -5px;
					left: 5px;
					height: 31px;
					background-color: $background-color_1;
					white-space: nowrap;
					opacity: 1;
				}
			}
			padding-top: 17px;
			padding-bottom: 10px;
			font-size: calc(15px + (17 - 15) * ((100vw - 320px) / (1920 - 320)));
			font-weight: 500;
		}
		&:not(:placeholder-shown) {
			~ {
				label {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					-webkit-box-pack: center;
					-ms-flex-pack: center;
					justify-content: center;
					font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
					opacity: 0.95;
					top: -5px;
					left: 5px;
					height: 31px;
					background-color: $background-color_1;
					white-space: nowrap;
					opacity: 1;
				}
			}
			padding-top: 17px;
			padding-bottom: 10px;
			font-size: calc(15px + (17 - 15) * ((100vw - 320px) / (1920 - 320)));
			font-weight: 500;
		}
	}
	>.form-select {
		~ {
			label {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;
				font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
				opacity: 0.95;
				top: -5px;
				left: 5px;
				height: 31px;
				background-color: $background-color_1;
				white-space: nowrap;
				opacity: 1;
			}
		}
		padding-top: 12px;
		padding-bottom: 10px;
		font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (1920 - 320)));
		font-weight: 500;
		&:focus {
			border-color: $border-color_1;
			outline: 0;
			-webkit-box-shadow: 0 0 0 4px transparent;
			box-shadow: 0 0 0 4px transparent;
		}
	}
	.form-control {
		height: calc(51px + (54 - 51) * ((100vw - 320px) / (1920 - 320)));
		line-height: normal;
		&:focus {
			background-color: $background-color_1;
			border: 1px solid #ced4da;
		}
	}
	.form-select {
		height: calc(51px + (54 - 51) * ((100vw - 320px) / (1920 - 320)));
		line-height: normal;
	}
	label {
		font-size: calc(13px + (16 - 13) * ((100vw - 320px) / (1920 - 320)));
		color: $color_1;
		border: none;
	}
}
[dir="rtl"] {
	.theme-form-floating {
		>.form-control {
			&:not(:-moz-placeholder-shown) {
				~ {
					label {
						right: 10px;
						left: unset;
					}
				}
			}
			&:not(:-ms-input-placeholder) {
				~ {
					label {
						right: 10px;
						left: unset;
					}
				}
			}
			&:focus {
				~ {
					label {
						right: 10px;
						left: unset;
					}
				}
			}
			&:not(:placeholder-shown) {
				~ {
					label {
						right: 10px;
						left: unset;
					}
				}
			}
		}
		>.form-select {
			~ {
				label {
					right: 10px;
					left: unset;
				}
			}
		}
	}
}

.body-header{
	margin-top: 30px;
	margin-left: 20px;
	i{
		color: #fff;
		font-size: 10px;
	}
	button{
		color: #FFF;
		font-family: 'Poppins';
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px;
	}
}

.border-between-header-body{
	height: 1px;
	align-self: stretch;
	background: #D9D9D9;
	margin-top: 10px;
}

.mobile-modal-body{
	.nav-list{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 24px;
		align-self: stretch;
		margin-left: 60px;
		margin-top: 20px;
		li{
			a{
				color: #FFF;
				font-family: 'Poppins';
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 24px;
			}
			button{
				color: #FFF;
				font-family: 'Poppins';
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 24px;
				margin-left: -13px;
			}
		}
	}
	.nav-list-2{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 24px;
		align-self: stretch;
		margin-left: 60px;
		margin-top: 20px;
		li{
			a{
				color: #FFF;
				font-family: 'Poppins';
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 24px;
			}
			button{
				color: #FFF;
				font-family: 'Poppins';
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 24px;
				margin-left: -13px;
			}
			.arrow-container{
				display: flex;
				justify-content: center;
				align-items: center;
				margin-left: 225px;
				margin-top: -17px;
			}
		}
	}
}

.mobile-modal-footer{
	.social-media{
		a{
			i{
				font-size: 20px;
			}
		}
	}
}