$color_1: #ff4f4f;
$color_2: #4a5568;
$color_3: #fff;
$color_4: #222;
$color_5: #777;
$color_6: var(--theme-color);
$background-color_1: rgba(255, 79, 79, 0.1);
$background-color_2: #f8f8f8;
$background-color_3: #ff7272;
$background-color_4: #f9f9f9;
$background-color_5: #4a5568;

.product-section {
  .mobile-display-none{
    display: none;
  }
  .product-left-box {
    position: sticky;
    top: 0;
  }
  .left-slider-image {
    .sidebar-image {
      border-radius: 8px;
      overflow: hidden;
      img {
        width: auto;
        height: auto;
        cursor: pointer;
        -o-object-fit: contain;
        object-fit: contain;
      }
    }
  }
  .left-slider-image-2 {
    .sidebar-image {
      border-radius: 4px;
      border: 1px solid #e4e4e4;
      display: flex;
      width: 100px;
      height: 100px;
      padding: 10px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      overflow: hidden;
      img {
        width: auto;
        height: auto;
        cursor: pointer;
        -o-object-fit: contain;
        object-fit: contain;
      }
    }
  }
  .right-box-contain {
    position: sticky;
    top: 10px;
    left: 0;
    .offer-top {
      font-weight: 500;
      padding: calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320)))
        calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
      background-color: $background-color_1;
      border-radius: 5px;
      color: $color_1;
      display: inline-block;
      margin-bottom: 20px;
    }
    .name {
      font-weight: 700;
      margin-bottom: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
    }
    .price-rating {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      .price {
        font-weight: 600;
        font-size: calc(19px + (22 - 19) * ((100vw - 320px) / (1920 - 320)));
        del {
          font-weight: 400;
          font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
          margin: 0 calc(0px + (2 - 0) * ((100vw - 320px) / (1920 - 320)));
        }
        span {
          font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
          font-weight: 500;
        }
      }
      .custom-rate {
        ul {
          li {
            .feather {
              width: 16px;
              height: 16px;
            }
          }
        }
        .review {
          font-size: 13px;
          margin-left: 12px;
        }
      }
    }
    .price-rating-boya{
      display: flex;
      flex-direction: column;
      align-items: start;
      .name-and-category{
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-bottom: 15px;
      }
    }
    .procuct-contain {
      border-bottom: 1px solid #ececec;
      padding-bottom: 16px;
      p {
        color: $color_2;
        line-height: 1.7;
        margin: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320))) 0 0;
        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
        width: 80%;
      }
    }
    .product-packege {
      .select-packege {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: calc(5px + (13 - 5) * ((100vw - 320px) / (1920 - 320)));
        li {
          a {
            padding: 6px 11px;
            border: 1px solid #ececec;
            border-radius: 4px;
            display: block;
            color: $color_2;
            font-size: 14px;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
          }
          a.active {
            border: 1px solid var(--theme-color);
            background: var(--theme-color2);
            color: $color_3;
          }
        }
      }
    }
    .note-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      gap: calc(7px + (15 - 7) * ((100vw - 320px) / (1920 - 320)));
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 20px;
      .compare-button {
        background-color: $background-color_2;
      }
      .cart-button {
        -webkit-animation: shake 150ms 2 linear;
        animation: shake 150ms 2 linear;
      }
      .product-qty {
        width: auto;
        margin-top: 0;
        .input-group {
          background: linear-gradient(187.77deg, #fafafa 5.52%, #f8f8f8 94%);
        }
      }
    }
    .buy-now-button {
      margin-top: 20px;
      padding-bottom: 16px;
      border-bottom: 1px solid #ececec;
      button {
        background-color: $background-color_3;
      }
    }
    .buy-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      gap: 11px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 20px;
      border-bottom: 1px solid #ececec;
      padding-bottom: 16px;
      .team-box {
        padding: 0;
        margin: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        input {
          margin-top: -7px;
          display: block;
        }
        .form-check-label {
          span {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            a {
              text-decoration: underline;
              margin-left: 3px;
              color: $color_4;
            }
          }
        }
      }
      a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: calc(5px + (8 - 5) * ((100vw - 320px) / (1920 - 320)));
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: $color_5;
        .feather {
          width: 17px;
          height: auto;
        }
      }
    }
    .mobile-pickup-box{
      display: none;
    }
    .pickup-box {
      padding-bottom: 20px;
      border-bottom: 1px solid #ececec;
      .product-info {
        margin-top: 20px;
        .first-custom-list {
          color: #151515 !important;
          font-family: "Exo 2" !important;
          font-size: 16px !important;
          font-style: normal !important;
          font-weight: 500 !important;
          line-height: 24px !important;
          span {
            color: #8d8d8d !important;
            font-family: "Exo 2" !important;
            font-size: 16px !important;
            font-style: normal !important;
            font-weight: 400 !important;
            line-height: 24px !important;
          }
        }
        .product-info-list {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          gap: calc(8px + (17 - 8) * ((100vw - 320px) / (1920 - 320)));
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start;
          text-align: left;
          display: inline-block;
          -webkit-column-count: 2;
          -moz-column-count: 2;
          column-count: 2;
          background-color: $background-color_4;
          padding: 15px;
          border-radius: 12px;
          width: 80%;
          li {
            padding-left: 13px;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 10px;
            width: 100%;
            font-size: calc(
              14px + (15 - 14) * ((100vw - 320px) / (1920 - 320))
            );
            position: relative;
            color: $color_5;
            &::after {
              content: "";
              position: absolute;
              top: 50%;
              -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
              width: 5px;
              height: 5px;
              left: 0;
              background-color: $background-color_5;
              border-radius: 100%;
            }
            a {
              margin-left: 5px;
              color: $color_4;
              font-weight: 500;
              + {
                a {
                  margin-left: 0;
                }
              }
            }
          }
        }
        .product-info-list-2 {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
        }
        .product-info-list-3 {
          display: flex;
          flex-direction: column;
          align-items: start;
          li{
            color: #151515;
            font-family: 'Exo 2';
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 44px;
            span{
              color: #8D8D8D;
              font-family: 'Exo 2';
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
            }
          }
        }
      }
      .pickup-icon {
        i {
          font-size: 20px;
          color: $color_6;
        }
      }
      .pickup-detail {
        h4 {
          width: 90%;
          font-weight: 400;
          margin-bottom: 5px;
          font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
          line-height: 1.6;
        }
        h6 {
          margin-top: 4px;
        }
        a {
          margin-top: 0;
          color: $color_6;
          display: inline-block;
        }
      }
    }
    .paymnet-option {
      ul {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: calc(3px + (8 - 3) * ((100vw - 320px) / (1920 - 320)));
      }
    }
    .share-option {
      padding-bottom: 20px;
      ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 20px;
        li {
          display: block;
          a {
            display: block;
            text-align: center;
            font-size: 17px;
            color: $color_2;
          }
        }
      }
    }
  }
  .product-main {
    .slider-image {
      img {
        width: 100%;
      }
    }
  }
  .product-main-2 {
    .slider-image {
      border-radius: 6px;
      border: 1px solid #e4e4e4;
      display: flex;
      width: 464px;
      height: 472px;
      padding: 24px;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }
  .right-sidebar-box {
    position: sticky;
    top: 10px;
    .product-right-sidebar {
      li {
        + {
          li {
            margin-top: 0;
            &::after {
              top: -14px;
              width: calc(100% - 103px);
            }
          }
        }
      }
    }
  }
}
[dir="rtl"] {
  .product-section {
    .right-box-contain {
      .price-rating {
        .custom-rate {
          .review {
            margin-left: unset;
            margin-right: 12px;
          }
        }
      }
      .product-packege {
        .select-packege {
          padding-right: 0;
        }
      }
      .paymnet-option {
        ul {
          padding-right: 0;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .product-section {
    .mobile-display-none{
      display: flex;
      flex-direction: row;

    }
    .desktop-display-none{
      display: none;
    }
    .left-slider-image-2 {
    .sidebar-image {
      border-radius: 4px;
      border: 1px solid #e4e4e4;
      display: flex;
      width: 80px;
      height: 80px;
      padding: 10px;
      flex-direction: column;
      align-items: flex-start;
      overflow: hidden;
      img {
        width: auto;
        height: auto;
        cursor: pointer;
        -o-object-fit: contain;
        object-fit: contain;
      }
    }
  }
  
    .right-box-contain {
      text-align: center;
      .price-rating {
        display: block;
        .custom-rate {
          margin-top: 10px;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
        }
      }
      .product-packege {
        .select-packege {
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
        }
      }
      .note-box {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
      .buy-box {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
      .mobile-pickup-box{
        display: block;
      }
      .desktop-pickup-box{
        display: none;
      }
      .pickup-box {
        .product-info {
          .product-info-list-3 {
            width: 100%;
          }
        }
        .pickup-detail {
          h4 {
            width: 100%;
          }
        }
      }
      .paymnet-option {
        ul {
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
        }
      }
    }
    .product-main-2 {
    .slider-image {
      display: block;
      width: 100%;
      padding: 24px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      border-radius: 6px;
      border: 1px solid #E4E4E4;
    }
  }
  }
}
@media (max-width: 1460px) {
  .product-section {
    .right-box-contain {
      .price-rating-2 {
        display: block;
        .custom-rate {
          margin-top: 5px;
        }
      }
      .price-rating-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        .custom-rate {
          margin-top: 0 !important;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .product-section {
    .right-box-contain {
      .price-rating-box {
        display: block;
        .custom-rate {
          margin-top: 10px !important;
        }
      }
      .pickup-box {
        .product-info {
          .product-info-list {
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
            padding: 15px;
            li {
              margin-left: unset;
              width: 100%;
              padding-left: unset;
              &::after {
                content: none !important;
              }
            }
          }
          .product-info-list-2 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding-bottom: 15px;
            li {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 360px) {
  .product-section {
    .right-box-contain {
      .note-box {
        .product-qty {
          width: 160px;
        }
      }
      .pickup-box {
        .product-info {
          .product-info-list-3 {
            li {
              margin-bottom: 0;
            }
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
          }
        }
      }
    }
  }
}
@media (max-width: 1500px) {
  .product-section {
    .right-box-contain {
      .pickup-box {
        .product-info {
          .product-info-list-2 {
            width: 100%;
          }
        }
      }
    }
  }
}
@media (max-width: 1450px) {
  .product-section {
    .right-box-contain {
      .pickup-box {
        .product-info {
          .product-info-list-2 {
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
            padding: 15px;
          }
        }
      }
    }
  }
}
@media (max-width: 1199px) {
  .product-section {
    .right-box-contain {
      .mobile-pickup-box{
        display: block;
      }
      .desktop-pickup-box{
        display: none;
      }
      .pickup-box {
        .product-info {
          .product-info-list-2 {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
            display: block;
            padding-bottom: 4px;
            li {
              margin-bottom: 8px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1366px) {
  .product-section {
    .right-box-contain {
      .pickup-box {
        .product-info {
          .product-info-list-3 {
            width: 85%;
          }
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .product-section {
    .right-box-contain {
      .pickup-box {
        .product-info {
          .product-info-list {
            li {
              width: auto;
              margin-left: 18px;
            }
          }
        }
      }
    }
  }
}

.product-custom {
  .name-and-category {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    span {
      color: #8d8d8d !important;
      font-family: "Exo 2" !important;
      font-size: 20px !important;
      font-style: normal !important;
      font-weight: 500 !important;
      line-height: 30px !important;
    }
    h3 {
      color: #151515 !important;
      font-family: "Exo 2" !important;
      font-size: 32px !important;
      font-style: normal !important;
      font-weight: 700 !important;
      line-height: 48px !important;
    }
  }
  .custom-rate {
    .rating {
      color: #095fb4 !important;
      font-family: "Exo 2" !important;
      font-size: 32px !important;
      font-style: normal !important;
      font-weight: 700 !important;
      line-height: 48px !important;
    }
    button {
      border-radius: 4px !important;
      background: #095fb4 !important;
      display: flex !important;
      padding: 10px 24px !important;
      justify-content: center !important;
      align-items: center !important;
      gap: 10px !important;
      color: #fff !important;
      font-family: "Exo 2" !important;
      font-size: 14px !important;
      font-style: normal !important;
      font-weight: 500 !important;
      line-height: 20px !important;
      margin-left: 20px !important;
    }
  }
  .procuct-contain {
    width: 100% !important;
    color: #8d8d8d !important;
    font-family: "Exo 2" !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 24px !important;
  }
}

@media (max-width: 767px) {
  .product-custom {
    .name-and-category {
      position: relative;
      top: -640px;
    }
  }
  .custom-rate {
    .rating {
      width: 100px;
      color: #095fb4 !important;
      font-family: "Exo 2" !important;
      font-size: 32px !important;
      font-style: normal !important;
      font-weight: 700 !important;
      line-height: 48px !important;
    }
    button {
      border-radius: 4px !important;
      background: #095fb4 !important;
      display: flex !important;
      padding: 10px 24px !important;
      justify-content: center !important;
      align-items: center !important;
      gap: 10px !important;
      color: #fff !important;
      font-family: "Exo 2" !important;
      font-size: 14px !important;
      font-style: normal !important;
      font-weight: 500 !important;
      line-height: 20px !important;
      margin-left: 20px !important;
      width: 80%;
    }
  }
  .procuct-contain {
    width: 335px !important;
    color: #8d8d8d !important;
    font-family: "Exo 2" !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 24px !important;
  }

  .product-info-list li {
    flex-direction: column !important;
    align-items: flex-start !important; /* Adjust alignment as needed */
    width: 100% !important;
    margin-top: 40px;
  }
}

.related-products {
  .product-box-3 {
    margin-left: 20px;
  }
}

.product-list-section {
  .title {
    h2 {
      left: 550px;
      color: #151515 !important;
      font-family: "Exo 2";
      font-size: 24px !important;
      font-style: normal !important;
      font-weight: 500 !important;
      line-height: 36px !important;
    }
  }
}

@media (max-width: 767px) {
  .product-list-section {
    .title {
      h2 {
        left: 50% !important;
        color: #151515 !important;
        font-family: "Exo 2";
        font-size: 24px !important;
        font-style: normal !important;
        font-weight: 500 !important;
        line-height: 36px !important;
      }
    }
  }
}

@media (max-width: 1199px) {
  .product-list-section {
    .title {
      h2 {
        left: 225px;
        color: #151515 !important;
        font-family: "Exo 2";
        font-size: 24px !important;
        font-style: normal !important;
        font-weight: 500 !important;
        line-height: 36px !important;
      }
    }
  }
}

.procuct-contain {
  max-height: 100px; /* Set a maximum height for the container */
  overflow: hidden; /* Hide the overflow content */
}

.read-more-btn {
  display: block; /* Initially hide the "Read More" button */
  position: relative;
  top: -34px;
  left: 410px;
  color: #151515;
  font-family: 'Exo 2';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  text-decoration-line: underline;
  border: none;
  background-color: #fff;
}
@media (max-width: 767px){
  .read-more-btn {
  display: block; /* Initially hide the "Read More" button */
  position: relative;
  top: 0px;
  left: -10px;
  color: #151515;
  font-family: 'Exo 2';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  text-decoration-line: underline;
  border: none;
  background-color: #fff;
}
.price-rating-boya{
      display: flex;
      flex-direction: column;
      align-items: start;
      margin-top: -50px !important;
      .name-and-category{
        display: flex;
        flex-direction: column;
        align-items: start;
      }
    }
    .boya-mobile-slider{
      margin-top: 80px;
    }
}

.expanded {
  max-height: none; /* Display all content when expanded */
}
