$color_1: #222;
$color_2: #4a5568;
$color_3: var(--theme-color);
$color_4: #777;
$background-color_1: #f8f8f8;
$background-color_2: transparent;
$background-color_3: #fff;

.product-section-box {
	margin-top: calc(12px + (48 - 12) * ((100vw - 320px) / (1920 - 320)));
	.custom-nav {
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		border: none;
		white-space: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
		margin: 0;
		border-bottom: 1px solid #ececec;
		display: flex;
		gap: 25px;
		.nav-item {
			.nav-link {
				letter-spacing: 0.6px;
				display: flex !important;
				padding: 10px 24px !important;
				justify-content: center !important;
				align-items: center !important;
				gap: 10px !important;
				border-radius: 4px !important;
				border: 1px solid #095FB4 !important;
				color: #095FB4 !important;
				font-family: 'Exo 2' !important;
				font-size: 14px !important;
				font-style: normal !important;
				font-weight: 500 !important;
				line-height: 20px !important;
				&::after {
					content: "";
					position: absolute;
					width: 0;
					height: 3px;
					top: 0;
					left: 0;
					background-color: $background-color_2;
					-webkit-transition: all 0.3s ease-in-out;
					transition: all 0.3s ease-in-out;
				}
				&:focus {
					background-color: $background-color_3;
					&::after {
						width: 100%;
					}
				}
				&:hover {
					background-color: $background-color_3;
					&::after {
						width: 100%;
					}
				}
			}
			.nav-link.active {
				background-color: $background-color_3;
				display: flex !important;
				padding: 10px 24px !important;
				justify-content: center !important;
				align-items: center !important;
				gap: 10px !important;
				border-radius: 4px !important;
				background: #095FB4 !important;
				font-weight: 600;
				background-color: $background-color_1;
				position: relative;
				color: #FFF !important;
				font-family: 'Exo 2' !important;
				font-size: 14px !important;
   				font-style: normal !important;
				font-weight: 500 !important;
				line-height: 20px !important;
				&::after {
					width: 100%;
				}
			}
		}
	}
	.offer-table {
		margin-bottom: 0;
		border: 1px solid #ececec;
		table-layout: fixed;
		display: inherit;
		border-radius: 6px;
		tbody {
			tr {
				th {
					padding: 12px 16px;
					width: 7%;
				}
				td {
					padding: 12px 16px;
					vertical-align: middle;
				}
				td.offer-name {
					width: 20%;
				}
			}
		}
	}
	.custom-tab {
		padding-top: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
		.nav-desh {
			margin-bottom: calc(22px + (30 - 22) * ((100vw - 320px) / (1920 - 320)));
			&:last-of-type {
				margin-bottom: 0;
			}
			.desh-title {
				margin-bottom: 8px;
				h5 {
					font-weight: 700;
				}
			}
		}
		.product-detail {
			.detail-title {
				h5 {
					font-weight: 600;
					color: $color_2;
					font-size: 17px;
					margin-bottom: 10px;
				}
			}
			.detail-list {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				gap: 4px;
				li {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: start;
					-ms-flex-align: start;
					align-items: flex-start;
					color: $color_2;
					width: 100%;
					i {
						font-size: 6px;
						color: $color_2;
						margin: 6px 6px 0 0;
					}
				}
			}
		}
		.tab-pane {
			.product-description {
				p {
					margin-bottom: calc(12px + (20 - 12) * ((100vw - 320px) / (1920 - 320)));
					color: $color_2;
					line-height: 1.7;
					font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (1920 - 320)));
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
		.information-box {
			ul {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				gap: 7px;
				li {
					color: $color_2;
					width: 100%;
					display: list-item;
					list-style-type: circle;
					margin-left: 35px;
					font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (1920 - 320)));
				}
			}
		}
		.review-box {
			.review-title {
				margin-bottom: calc(10px + (18 - 10) * ((100vw - 320px) / (1920 - 320)));
			}
			.review-people {
				.review-list {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-ms-flex-wrap: wrap;
					flex-wrap: wrap;
					gap: 26px;
					li {
						display: block;
						width: 100%;
						.people-box {
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							-webkit-box-align: center;
							-ms-flex-align: center;
							align-items: center;
							width: 100%;
							border-radius: 10px;
							padding: 20px 26px;
							background: #f8f8f8;
							&:hover {
								.reply {
									a {
										opacity: 1;
									}
								}
							}
							.people-image {
								width: 70px;
								height: 70px;
								img {
									width: 100%;
									height: 100%;
									border-radius: 10px;
									-o-object-fit: cover;
									object-fit: cover;
									-webkit-transition: all 0.3s ease-in-out;
									transition: all 0.3s ease-in-out;
								}
							}
							.people-comment {
								padding-left: 15px;
								width: calc(100% - 70px);
								.name {
									display: block;
									font-weight: 600;
									font-size: 15px;
									&:hover {
										color: $color_3;
									}
								}
								.date-time {
									display: -webkit-box;
									display: -ms-flexbox;
									display: flex;
									-webkit-box-align: center;
									-ms-flex-align: center;
									align-items: center;
									-webkit-box-pack: justify;
									-ms-flex-pack: justify;
									justify-content: space-between;
									width: 100%;
									h6 {
										font-size: 13px;
										color: $color_4;
										margin-top: 1px;
									}
								}
							}
							.reply {
								margin-top: 9px;
								line-height: 1.6;
								color: $color_2;
								position: relative;
								p {
									width: 90%;
									margin: 0;
									line-height: 1.6;
								}
								a {
									position: absolute;
									top: 0;
									right: 0;
									opacity: 0;
									font-weight: 600;
									-webkit-transition: all 0.3s ease-in-out;
									transition: all 0.3s ease-in-out;
								}
							}
						}
					}
				}
			}
			.rating-box {
				margin-top: 17px;
				ul {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-ms-flex-wrap: wrap;
					flex-wrap: wrap;
					gap: calc(13px + (20 - 13) * ((100vw - 320px) / (1920 - 320)));
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					li {
						width: 100%;
						.rating-list {
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							-ms-flex-wrap: nowrap;
							flex-wrap: nowrap;
							gap: 14px;
							-webkit-box-align: center;
							-ms-flex-align: center;
							align-items: center;
							h5 {
								white-space: nowrap;
							}
							.progress {
								width: 100%;
								border-radius: 3px;
								.progress-bar {
									background: var(--theme-color2);
								}
							}
						}
					}
				}
			}
		}
		.info-table {
			border: 1px solid #ececec;
			margin-bottom: 0;
			tbody {
				tr {
					th {
						padding: calc(10px + (14 - 10) * ((100vw - 320px) / (1920 - 320))) calc(12px + (18 - 12) * ((100vw - 320px) / (1920 - 320)));
						font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
						white-space: nowrap;
					}
					td {
						padding: calc(10px + (14 - 10) * ((100vw - 320px) / (1920 - 320))) calc(12px + (18 - 12) * ((100vw - 320px) / (1920 - 320)));
						font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
						white-space: nowrap;
						border-left: 1px solid #ececec;
					}
				}
			}
		}
		.info-table.table-striped {
			tbody {
				tr {
					&:nth-of-type(odd) {
						td {
							background-color: $background-color_1;
							color: $color_1;
						}
					}
				}
			}
		}
	}
}
[dir="rtl"] {
	.product-section-box {
		.custom-nav {
			.nav-item {
				.nav-link {
					&::after {
						left: unset;
						right: 0;
					}
				}
			}
		}
		.offer-table {
			right: unset;
			left: 10px;
		}
		.custom-tab {
			.review-box {
				.review-people {
					.review-list {
						padding-right: 0;
						li {
							.people-box {
								.people-comment {
									padding-left: unset;
									padding-right: 15px;
								}
								.reply {
									a {
										right: unset;
										left: 0;
									}
								}
							}
						}
					}
				}
				.rating-box {
					ul {
						padding-right: 0;
					}
				}
			}
		}
	}
}
@media (max-width: 480px) {
	.product-section-box {
		.custom-tab {
			.review-box {
				.review-people {
					.review-list {
						li {
							.people-box {
								display: block;
								.people-image {
									margin: 0 auto;
								}
								.people-comment {
									padding: 0;
									width: 100%;
									margin-top: 16px;
								}
								.reply {
									p {
										width: 100%;
									}
									a {
										position: relative;
										margin-left: 8px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 575px) {
	.product-section-box {
		.custom-tab {
			.review-box {
				.review-people {
					.review-list {
						li {
							.people-box {
								.people-image {
									img {
										border-radius: 8px;
									}
								}
								.reply {
									a {
										opacity: 1;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 360px) {
	.product-section-box {
		.custom-tab {
			.review-box {
				.review-people {
					.review-list {
						li {
							.people-box {
								.people-comment {
									.date-time {
										display: block;
										.product-rating {
											margin-top: 8px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
