$color_1: #222;
$color_2: #4a5568;
$color_3: #fff;
$color_4: #8D8D8D;
$color_5: #777;
$background-color_1: #fff;
$background-color_2: #fff;
$background-color_3: #4a5568;

.product-list-section.list-style {
	>div {
		width: 100%;
		.product-box-3 {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			padding: calc(14px + (24 - 14) * ((100vw - 320px) / (1920 - 320)));
			.product-header {
				width: 180px;
			}
			.product-footer {
				padding-left: 20px;
				width: calc(100% - 180px);
				.product-detail {
					.span-name {
						display: none;
					}
					.qty-box {
						width: unset;
					}
				}
				.product-content {
					display: block;
					line-height: 1.5;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					display: -webkit-box;
					overflow: hidden;
				}
			}
		}
	}
}
[dir="rtl"] {
	.product-list-section.list-style {
		>div {
			.product-box-3 {
				.product-footer {
					padding-left: unset;
					padding-right: 20px;
				}
			}
		}
	}
	.product-box-3 {
		.product-header {
			.product-image {
				.product-option {
					li {
						+ {
							li {
								&:after {
									left: unset;
									right: 0;
								}
							}
						}
					}
				}
			}
			.product-header-top {
				left: unset;
				right: 0;
				.wishlist-button {
					margin-left: unset;
					margin-right: auto;
				}
			}
		}
	}
}
.product-box-3 {
	padding: calc(7px + (14 - 7) * ((100vw - 320px) / (1920 - 320)));
	position: relative;
	background-color: $background-color_1;
	border-radius: 6px;
	border: 1px solid #E4E4E4;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	&:hover {
		-webkit-box-shadow: 0 0 8px rgba(34, 34, 34, 0.08);
		box-shadow: 0 0 8px rgba(34, 34, 34, 0.08);
		.product-header {
			.product-image {
				.product-option {
					bottom: 10px;
					opacity: 1;
				}
				img {
					-webkit-transform: scale(1.1);
					transform: scale(1.1);
				}
			}
		}
	}
	.product-header {
		position: relative;
		.product-image {
			text-align: center;
			padding: 20px;
			display: block;
			img {
				width: 100%;
				height: 250px;
				-o-object-fit: contain;
				object-fit: contain;
				-webkit-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
			}
		}
		.product-header-top {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			.label-new {
				position: relative;
				border-radius: 4px;
				padding: 3px 8px;
				color: $color_3;
				label {
					font-size: 13px;
					margin-top: 1px;
					font-weight: 600;
				}
			}
			.label-new.bg-warning {
				background: -webkit-gradient( linear, right top, left top, color-stop(-14.53%, #ffbf65), color-stop(99.15%, #ffad39) ) !important;
				background: linear-gradient( -90deg, #ffbf65 -14.53%, #ffad39 99.15% ) !important;
			}
			.label-new.bg-theme {
				background: var(--theme-color2) !important;
			}
			.wishlist-button {
				position: relative;
				padding: 6px;
				margin-left: auto;
				background-color: $background-color_2;
				-webkit-box-shadow: 0 3px 3px rgba(34, 34, 34, 0.24);
				box-shadow: 0 3px 3px rgba(34, 34, 34, 0.24);
				border-radius: 100%;
				z-index: 0;
				.feather {
					width: 15px;
					height: 15px;
					color: $color_2;
				}
			}
			.close-button {
				position: relative;
				padding: 0;
				z-index: 0;
				.feather {
					width: 20px;
					height: auto;
					color: $color_2;
				}
			}
		}
	}
	.product-footer {
		.product-detail {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			.span-name {
				font-size: 13px;
				color: $color_4;
				margin-bottom: calc(4px + (8 - 4) * ((100vw - 320px) / (1920 - 320)));
				font-family: 'Exo 2';
				font-style: normal;
				font-weight: 500;
				line-height: 30px;
			}
			.product-content {
				display: none;
			}
			a {
				color: $color_1;
				&:hover {
					color: $color_1;
				}
			}
			.name {
				color: #151515;
				font-family: 'Exo 2';
				font-size: 17px;
				font-style: normal;
				font-weight: 700;
				line-height: 30px;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				display: -webkit-box;
				overflow: hidden;
			}
			.unit {
				font-size: 13px;
				font-weight: 500;
				margin-top: calc(6px + (10 - 6) * ((100vw - 320px) / (1920 - 320)));
				color: $color_5;
			}
		}
		.price {
			color: #095FB4;
			font-family: 'Exo 2';
			font-size: 30px;
			font-style: normal;
			font-weight: 700;
			line-height: 32px;
			del {
				margin-left: 4px;
				font-weight: 400;
				color: $color_5;
				font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (1920 - 320)));
			}
			span {
				font-size: calc(15px + (16 - 15) * ((100vw - 320px) / (1920 - 320)));
			}
		}
	}
}
.product-box-3.theme-bg-white {
	background-color: $background-color_2;
}
.product-bg-image {
	background-image: url(../images/grocery/bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}
@media (max-width: 767px) {
	.product-list-section.list-style {
		>div {
			.product-box-3 {
				.product-header {
					width: 100%;
				}
				display: block;
				.product-footer {
					padding: 0;
					width: 100%;
					margin-top: 20px;
				}
			}
		}
	}
}
@media (max-width: 480px) {
	.product-box-3 {
		.product-header {
			.product-image {
				padding: 8px;
				.product-option {
					display: none;
				}
			}
		}
	}
}