$color_1: #fff;
$color_2: #4a5568;
$background-color_1: #f8f8f8;
$background-color_2: var(--theme-color);
$background-color_3: #fff;
$border-color_1: transparent;

.contact-box-section {
	.left-sidebar-box {
		.contact-image {
			text-align: center;
			margin-bottom: calc(25px + (64 - 25) * ((100vw - 320px) / (1920 - 320)));
			img {
				width: 60%;
			}
		}
		.contact-title {
			margin-bottom: calc(20px + (32 - 20) * ((100vw - 320px) / (1920 - 320)));
			h3 {
				position: relative;
				display: inline-block;
				font-size: calc(23px + (28 - 23) * ((100vw - 320px) / (1920 - 320)));
				font-weight: 600;
				&::after {
					content: "";
					position: absolute;
					width: 70%;
					height: 2px;
					bottom: -5px;
					left: 0;
					background: var(--theme-color2);
				}
			}
		}
		.contact-detail {
			.contact-detail-box {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				gap: calc(2px + (5 - 2) * ((100vw - 320px) / (1920 - 320)));
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				background-color: $background-color_1;
				padding: calc(15px + (27 - 15) * ((100vw - 320px) / (1920 - 320))) calc(15px + (27 - 15) * ((100vw - 320px) / (1920 - 320))) calc(15px + (27 - 15) * ((100vw - 320px) / (1920 - 320))) calc(30px + (41 - 30) * ((100vw - 320px) / (1920 - 320)));
				position: relative;
				border-radius: 10px;
				margin-left: 22px;
				.contact-icon {
					top: 50%;
					-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
					position: absolute;
					left: -21px;
					background-color: $background-color_2;
					padding: 13px;
					border-radius: 7px;
					display: inherit;
					color: $color_1;
				}
				.contact-detail-title {
					width: 100%;
					h4 {
						font-weight: 600;
						font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
						margin-top: -2px;
					}
				}
				.contact-detail-contain {
					width: 100%;
					p {
						margin: 0;
						font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (1920 - 320)));
						line-height: 1.5;
						color: $color_2;
						margin-bottom: -5px;
					}
				}
			}
		}
	}
	.right-sidebar-box {
		padding: calc(21px + (60 - 21) * ((100vw - 320px) / (1920 - 320)));
		border-radius: 10px;
		background-color: $background-color_1;
		.custom-form {
			label {
				color: $color_2;
				display: block;
				font-size: 16px;
				margin-bottom: calc(3px + (8 - 3) * ((100vw - 320px) / (1920 - 320)));
			}
			.custom-input {
				position: relative;
				.form-control {
					padding: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320))) calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320))) calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320))) calc(41px + (52 - 41) * ((100vw - 320px) / (1920 - 320)));
					border: none;
					&:focus {
						background-color: $background-color_3;
						border-color: $border-color_1;
					}
				}
				i {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					padding: 0 calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
					color: $color_2;
				}
			}
			.custom-textarea {
				position: relative;
				.form-control {
					padding-left: 52px;
					border: none;
					&:focus {
						background-color: $background-color_3;
						border-color: $border-color_1;
					}
				}
				i {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					padding: 18px 20px;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					font-size: 18px;
					color: $color_2;
				}
			}
		}
	}
}
[dir="rtl"] {
	.contact-box-section {
		.left-sidebar-box {
			.contact-title {
				h3 {
					&::after {
						left: unset;
						right: 0;
					}
				}
			}
		}
		.right-sidebar-box {
			.custom-form {
				.custom-input {
					.form-control {
						padding: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320))) calc(41px + (52 - 41) * ((100vw - 320px) / (1920 - 320))) calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320))) calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
					}
					i {
						left: unset;
						right: 0;
					}
				}
				.custom-textarea {
					.form-control {
						padding-left: unset;
						padding-right: 52px;
					}
					i {
						left: unset;
						right: 0;
					}
				}
			}
		}
	}
}
@media (max-width: 1199px) {
	.contact-box-section {
		.left-sidebar-box {
			.contact-image {
				margin-bottom: 0;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				img {
					width: 77%;
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.contact-box-section {
		.left-sidebar-box {
			.contact-image {
				margin-bottom: calc(25px + (64 - 25) * ((100vw - 320px) / (1920 - 320)));
				img {
					width: 60%;
					margin-bottom: calc(25px + (64 - 25) * ((100vw - 320px) / (1920 - 320)));
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.contact-box-section {
		.first-location{
			width: 100% !important;
		}
		.second-location{
			width: 100% !important;
		}
	}
}