$color_1: var(--theme-color);
$color_2: #4a5568;
$background-color_1: #f8f8f8;
$background-color_2: #fff;

.review-section {
	background-color: $background-color_1;
	.reviewer-box {
		background-color: $background-color_2;
		padding: calc(18px + (34 - 18) * ((100vw - 320px) / (1920 - 320)));
		border-radius: 10px;
		z-index: 0;
		position: relative;
		overflow: hidden;
		&:hover {
			i {
				color: $color_1;
				font-size: 143px;
				opacity: 0.18;
				-webkit-transform: rotate(7deg);
				transform: rotate(7deg);
				bottom: -29px;
				right: -7px;
			}
		}
		i {
			position: absolute;
			font-size: 106px;
			opacity: 0.05;
			z-index: -1;
			-webkit-transform: rotate(15deg);
			transform: rotate(15deg);
			bottom: -30px;
			right: -8px;
			-webkit-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
		}
		h3 {
			font-weight: 400;
			margin: 10px 0 13px;
			font-size: 20px;
			line-height: 1.5;
		}
		p {
			color: $color_2;
			line-height: 1.7;
			margin-bottom: 23px;
			font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (1920 - 320)));
		}
		.reviewer-profile {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			gap: calc(12px + (19 - 12) * ((100vw - 320px) / (1920 - 320)));
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			.reviewer-image {
				width: calc(65px + (75 - 65) * ((100vw - 320px) / (1920 - 320)));
				height: auto;
				border-radius: 8px;
				overflow: hidden;
				img {
					width: 100%;
					height: 100%;
					-o-object-fit: contain;
					object-fit: contain;
				}
			}
			.reviewer-name {
				h4 {
					font-weight: 700;
					font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
					color: $color_1;
				}
				h6 {
					color: $color_2;
					margin-top: 6px;
				}
			}
		}
	}
}
[dir="rtl"] {
	.review-section {
		.reviewer-box {
			i {
				-webkit-transform: rotate(-15deg) rotateY(183deg);
				transform: rotate(-15deg) rotateY(183deg);
				left: -8px;
				right: unset;
			}
		}
	}
}
.review-section{
	.about-company{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 40px 60px;
		align-items: center;
		.wall{
			background: #367CC1;
			width: 2px;
			height: 58px;
			flex-shrink: 0;
		}
		.why-us{
			h4{
				color: #095FB4;
				font-family: 'Exo 2';
				font-size: 24px;
				font-style: normal;
				font-weight: 600;
				line-height: 36px;
			}
			p{
				width: 598px;
				color: #151515;
				font-family: 'Exo 2';
				font-size: 18px;
				font-style: normal;
				font-weight: 400;
				line-height: 28px;
			}
		}
	}
}

@media (max-width: 767px){
	.review-section{
		display: none;
	}
}

@media (max-width: 1366px){
	.review-section{
		display: none;
	}
}